@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  color: #E4E6C3;
  background-color: #0b090a;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding: 1rem;
  z-index: 50;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  scrollbar-shadow-color: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #e63946;
  border-radius: 10rem;
}
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
.backward,
.forward {
  width: 4em;
  color: #fff;
  position: absolute;
  background: none;
  outline: none;
  border: none;
}

.backward {
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.forward {
  right: 25%;
  top: 50%;
  transform: translate(50%, -50%);
}

.backward:active svg {
  transform: rotate(-45deg);
  transition: 0.1s transform;
}

.forward:active svg {
  transform: rotate(45deg);
  transition: 0.1s transform;
}
